/*Import Fonts*/
@import url('https://fonts.googleapis.com/css?family=Arvo');


/*Base Elements*/

:root{
  --ucf-gold: #fc0;
  --tech-grey: #0D171F;
  --tech-shadow: #ddd;
  --tech-blue: #0269C2;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--tech-grey);
}

a:hover{
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

a:visited {
  text-decoration: none;
  color: #22282D;
}

a:active{
  text-decoration: none;
  color: var(--tech-grey);
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 500px;

}

h2 {
  font-size: 55px;
  font-weight: bold;
  padding-left: 5px;
}

h3 {
  font-size: 30px;
}

h4{
  font-size: 25px;
}

.accordion-help:hover:after{
  text-decoration: none;
  color: #333;
}
.accordion-help{
  font-weight: normal;


}

.accordion-border{

  border-bottom-style: solid;
  border-width: thin;
  border-color: var(--ucf-gold);
  padding:8px;
  text-align: left;
  width: 100%;
}
.accordion-help:focus, .accordion-help:hover{
  color: black;
  text-decoration: none;
  text-shadow: none;
}
.panel-heading{
  text-decoration: none;
  color: #333;


}
.collapsed:after{
  color: black;
}

small{
  opacity: 0.8;
}
/*Header Elements*/

.nav{
  padding: .5em;
  background-color: var(--ucf-gold);
  font-family: 'Arvo', serif;
  font-weight: bold !important;
  color: #1C3144;
}

.navigation{
  float: right;
}
.title{
  float: left;
}

.nav-item{
  float: right;
  padding-right: 1em;
  padding-top: 1em;
}

/*.dropdown{
  padding-top: 1em;
}*/
.dropdown{
  padding-top: .5em;
}

.dropdown-menu a{
  text-shadow: none !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropcontainer h3{
  margin-top: 14px;
}




/*.btn-ucf{
  background-color: rgba(0,0,0,0);
  border-style: solid;
  /*border-color: #333;
  border-color: var(--tech-grey);
  border-width: 4px;
  font-size: 30px;
  /*font-weight: bolder;
  color: var(--tech-grey);
}

.btn-ucf:hover{
  color: #fff;
  border-color: #fff;
  text-shadow: 1px 1px 2px #000;
  box-shadow: 1px 1px 2px #000;
}*/

.btn-ucf1{
  background-color: rgba(0,0,0,0);

  /*border-color: #333;*/
  font-size: 30px;
  /*font-weight: bolder;*/
  color: var(--tech-grey);

}

.btn-ucf1:hover{
  color: #fff;
  text-shadow: 1px 1px 2px #000;

}

.btn{
  padding:0;
}
.caret{

}

.dropdown-toggle{
  box-shadow: none !important;

}
.dropdown-toggle:hover{
  background-color: var(--ucf-gold);

}

.dropdown-divider{

  height: 1px;
  margin: .5rem 0;
  overflow: hidden;
  background-color: #eceeef;
}

#grid{
  padding: 6px 12px;
}

#list{
  padding: 6px 12px;
}

/*Header Image*/

.header-image
{
	width:100%;
	height:700px;
  overflow: hidden;

   z-index: 0;

  margin-bottom: -200px;
}

.body-head{

  width: 100%;
}

.body-head-gaurd{
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: .5em;
  position: relative;
  float: right;
  background-color: #fff;
  width: 33%;
  z-index: 1000;
  border-bottom-style: solid;
  border-width: thick;
  border-color: var(--ucf-gold);
  margin-top: -200px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  box-shadow: 2px, 2px, 5px, var(--tech-shadow);
}
/*Body Main*/

.card{
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  margin: 1em;

  padding: 15px;

  background-color: #fafafa;

  box-shadow: 2px 2px 5px var(--tech-shadow);
}

.card-highlight{
  color: #fff;
  background-color: #555;
}

.card-head{
  border-bottom-style: solid;
  border-width: thin;
  border-color: var(--ucf-gold);
}
.card-head2{
  border-bottom-style: solid;
  border-width: thin;
  border-color: var(--ucf-gold);
  width:20%;

}



.card-body{
  font-size: 18px;
  padding-top: 10px;
}

.card-info-body{
  font-size: 16px;
}

.intro{

  width:93%;

}
.link{
  text-decoration: underline;
}
.link:hover{
  text-decoration:underline;
}
.col-lg-8{
  padding-bottom: 2.5em;
}
.left-side-para{
  font-size: 16px;
  padding-top: 10px;
  line-height: 25px;
}

.tech-commons-para{
  padding-top: 10px;
  line-height: 30px;
}

.card iframe{
  width: 100%;
  overflow: hidden;
}

.card hr{
  width: 100%;
  border-color: var(--ucf-gold);

}

.computers{

  margin-top: 20px;

  border-top-style: solid;
  border-bottom-style: solid;
}

.computers tr{
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.computers td{
  padding: 5px;
  text-align: center;
}

/*Colapsable Elements*/

.colapse-head{
  margin: .5em;
  font-size: 20px;
  border-bottom-color: var(--tech-blue);
  border-bottom-style: solid;
  cursor: pointer;
}
.colapse-body{
  overflow: hidden;
  height: auto;

  -webkit-transition: height .25s;
  transition: height .25s;
}
.colapse-body li{
  list-style: none;
  cursor: pointer;
}

.colapse span{
  font-size: 20px;
  float: right;
  color: var(--tech-blue);
}

.colapse span:hover{
  color: #fff;
  -webkit-text-stroke: 1px var(--tech-blue);
}

.filtering-by{
  background-color: var(--tech-blue);
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
}

.filter{
  cursor: pointer;
}

.panel-body{
  font-size: 18px;
}

/*items*/
.item{
  background-color: #fff;
  box-shadow: 1px 1px 5px var(--tech-shadow);
  margin: 1%;
  width: 22%;
  display: inline-block;
}
.item-name{
  font-size: 20px;
  color: #fff;
  background-color: #000;
  margin-left: -5%;
  padding-left: .5em;
  min-width: 70%;
  max-width: 90%;
}
.item-title{
  color: #fff;
  background-color: #000;
  margin-left: auto;
  text-align: center;
  max-width: 500px;
  padding: 15px;
  padding-right: 20px;
  font-size: 45px;
  margin-right: 30px;
  margin-top: -115px;
  margin-bottom: 45px;
  position: relative;
  z-index: 100 !important;
}
.item-img{
  /*margin: 10px;*/
}
.item-info li{
  list-style: none;
}
.item-info a:hover{
  text-shadow: none !important;
}

.static-list{
  margin: 3em;
  border-style: solid;
  border-width: thin;
  border-radius: 3;
  width: 90%;
}

.static-list th{
  background-color: #fff;
  border-bottom: solid;
  border-bottom-width: thin;
}

.static-list td, th{
  padding: 10px;
}

.static-list tr:nth-child(even){
  background-color: #f0f0f0;
}

.item-list{
  margin-top: 2em;
  margin-bottom: 1em;
  margin-right: 3em;
  border-style: solid;
  border-width: thin;
  border-radius: 3;
  width: 90%;
}

.item-list th{
  background-color: #fff;
  border-bottom: solid;
  border-bottom-width: thin;
}

.item-list td, th{
  padding: 10px;
  border: 1px solid #dddddd;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    text-decoration: none;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}




.item-list tr:nth-child(even){
  background-color: #f0f0f0;
}
.item-list tr:nth-child(odd){
  background-color: #fdfdfd;
}

.item-list tr:hover{
  background-color: #dedede;
}

.item-list img{
  height: 50px;
  display: inline;
}

.no-results{
  padding: 3em;
  margin-top: 20px;
  margin-left: 10%;
  background-color: var(--tech-shadow);
  border-radius: 15px;
  border-width: thick;
  border-style: dashed;
  width: 80%;
  color: #ccc;
}

.no-results .glyphicon{
  font-size: 80px;
}



/*Footer*/

.footer{
 position: absolute;
 bottom: 0;
 width: 100%;
 /* Set the fixed height of the footer here */
 height: 500px;
 background-color: #222;
}

.footer-container{
  position: relative;
  width: 100%;
  margin-left: inherit;

}

.footer a{
  text-shadow: none !important;
  color: inherit;
}

/*footer column help*/

.footer-help{
  color: #5F8E33;
}

.footer-help-content{
  color: #5F8E33;
}

.footer-help-head{
  border-bottom-style: solid;
  border-color: #5F8E33;
}

/*footer column tech*/

.footer-tech{
  color: #1b83c4;
}

.footer-tech-head{
  border-bottom-style: solid;
  border-color: #1b83c4;

}

/*.extend{
  currently working on - Mikayla

}*/


.footer-tech-content{
  color:#1b83c4;
}


/*footer cst column*/

.footer-cst{
  color: #d82222;
}

.footer-cst-head{
  border-bottom-style: solid;
  border-color: #d82222;
}

/*Column Content*/

.content{
  list-style: none;
  margin-top: 2em;
  font-size: 20px;

}

.content li{
  margin-top: .5em;
  width:50%;
}
.green:hover{

  color: #39611F;

}
.blue:hover{
  color: #135C8A;
}

.red:hover{
  color: #A11919;

}

/*Social Media Branding*/

.social{
  margin: 4em;
}

.social-img{
  height: 50px;
  width: 50px;

  margin: 1em;

  font-size: 50px;

  color: white;

  opacity: .5;

  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.social-img:hover {
  opacity: 1;
}

.social-img img{
  height: 50px;
  width: 50px;
}

.social-footer{
  margin-top: -.5em;
}

/*Copyright info*/

.copy{
  margin-top: 2em;
  color: #fff;
}

/*Media Queries*/

@media (max-width: 1200px){
  .footer{
    height: 1100px;
  }
  body{
    margin-bottom: 1100px;
  }
  .item{
    width: 30%;
  }
}

@media (max-width: 780px){


  .footer{
    height: 1300px;
  }
  body{
    margin-bottom: 1300px;
  }

  .item{
    width: 47%;
  }

}

@media (max-width: 600px){
  .social-img:after{
    content: "\a";
    white-space: pre;
  }
  .item{
    width: 98%;
  }

  .item-title{
    font-size: 30px;
  }
}

@media (max-width: 400px){
  .footer{
    height: 1400px;
  }

  .row{
    margin-top: 40px;
  }

  body{
    margin-bottom: 1400px;
  }

  .background-tech{
    margin-top: -90px;
    height: 80px;
  }


}

/*Bootstrap Default Changes*/

.glphicon{
  height: 35px !important;
}

.container{
  margin-left: 2% !important;
  width: 98% !important;
}

/*Form Control*/

.form-group a:hover{
  text-shadow: none !important;
  color: #025AA5;
}
/*BEGIN RETURN TO TOP*/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    z-index: 1000;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

#return-to-top span{
  font-size: 50px;
  color: var(--tech-blue);
}

#return-to-top span:hover{
  color: #fff;
}

.invisible{
  display: none;
}
